$white: #fefefe;
$lightBlue: rgba(0, 188, 212, 0.8);
$lightGray: #d4d4d4;
$fontGray: #4e4e4e;
$bgWhite: #fbfbfb;
$baseWidth: 980px;
$orange: #ba3c23;
// ページ
@import "./pages/top";
@import "./pages/topic";
@import "./pages/topics";
@import "./pages/topic-edit";
@import "./pages/markdown";

// パーツ部品
@import "./components/button";
@import "./components/header-footer";
@import "./components/humane";
@import "./components/material-icons";

html {
	position: relative;
	min-height: 100%;
}

body, button, input {
	font-family: 'Roboto', "Yu Gothic", "游ゴシック", 'Meiryo UI','メイリオ';
}

body {
	margin: 0;
	background-color: $bgWhite;
	color: $fontGray;
	margin-bottom: 90px;
}

h1, h2 {
	font-weight: 500;
}

a {
    color: #2156a5;
    text-decoration: none;
    line-height: inherit;
}

input[type="text"],
textarea {
	outline: none;
	border: 1px solid #aaa;
	-webkit-transition: all .3s;
	transition: all .3s;
}
input[type="text"]:focus,
textarea:focus {
	box-shadow: 0 0 7px $lightBlue;
	border: 1px solid $lightBlue;
}

.h1, .h2, .h3 { margin:0 }
.font-16 {font-size: 16px;}
.font-24 {font-size: 24px;}
.font-32 {font-size: 32px;}

.color-adoc { color: #ba3c23; }

.prefix-icon-container {
	display: flex;
	align-items: center;
	.material-icons {
		margin-right: 6px;
	}
}

.content {
	padding: 0 20px;
	max-width: $baseWidth;
	margin: 20px auto;
	line-height: 1.6;
}

.border {
	border-bottom:1px solid $lightGray;
}