.topic-page {
	.border {
		margin: 10px 0;
	}
	background-color: $white;
	width: 100%;
	.topic-header {
		background-color: rgba(78,105,109,0.8);
		color: $white;
		@include panelShadow();
		padding: 10px 20px;
		@media #{$mobile} {
			flex-direction: column;
			.right-parts {
				margin: 10px 0;
				flex-direction: column;
			}
		}
		.topic-header-top {
			display: flex;
			.h1 {
				width: 70%;
				word-break: break-all;
				margin-right: 18px;
			}
			.right-parts {
				display: flex;
				justify-content: center;
				align-items: center;
				&, .material-icons {
					color: $white;
				}
				.view-count, .comment-count {
					margin-right: 18px;
					.flex {
						display: flex;
						align-items: center;
						
					}
					.material-icons {
						font-size: 16px;
						margin-right: 4px;
					}
					.font-12 {
						margin-right: 4px;
					}
					display: flex;
					align-items: baseline;
				}
			}
		}
		.topic-info-header {
			display: flex;
			align-items: center;
			.tags {
				display: flex;
				margin-right: 20px;
				.tag {
					padding: 0 6px;
					border-radius: 3px;
					margin-right: 3px;
					font-size: 12px;
					background-color: #d2d2d2;
					color: $fontGray;
				}
			}
			.post-date {
				font-size: 14px;
				margin-right: 40px;
				color: rgba(255,255,255,0.7);
			}
			.command-container {
				display: flex;
				justify-content: center;
			}

		}
	}
	.markdown-container {
		background-color: $white;
	}
	.comment-row {
		margin: 8px 0;
		display: flex;
		flex-direction: column;
		.post-date {
			margin-right: 4px;
			margin-left: auto;
			font-size: 12px;
		}
		
		.comment-body {
			margin-left: 10px;
			border-radius: 3px;
			position: relative;
			border:1px solid $lightGray;
			background-color: $white;
			font-size: 14px;
			padding:20px;
			white-space: pre-line;


			&:before, &:after {
				content: "";
				position: absolute;
				top: 50%;
				display: block;
				border-style: solid;
				width: 0px;
				height: 0px;
			}
			&:before {
				left: -8px;
				margin-top: -9px;
				border-width: 9px 9px 9px 0;
				border-color: transparent $white transparent transparent;
				z-index: 1;
			}
			&:after {
				left: -9px;
				margin-top: -10px;
				border-width: 10px 9px 10px 0;
				border-color: transparent $lightGray transparent transparent;
				z-index: 0;
			}
		}
	}

	.post-comment-container {
		.textarea {
			width: 80%;
			padding: 4px 8px;
			line-height: 1.6;
			border:1px solid $lightGray;
		}
	}
}