<div class="top-page">
	<div class="top-panel">
		<img class="logo-img" src="/resource/logo.png" />
		<h1 class="logo-title-text">Qucoke.comは、特価品スレの情報を共有するサービスです。</h1>
		<div class="links-container">
			<a href="/topics/" class="prefix-icon-container">
				<i class="material-icons">assignment</i>
				<div>記事一覧</div>
			</a>

			<a href="/topic-edit/" class="prefix-icon-container">
				<i class="material-icons">mode_edit</i>
				<div>記事を作成</div>
			</a>
			<a class="prefix-icon-container" href="javascript:void(0)">
				<i class="material-icons">cloud</i>
				<div>特価DB<span style="font-size:12px;font-weight:normal;">(近日リリース)</span></div>
			</a>
		</div>
	</div>

	<div class="content">
		<h2 class="h2 color-adoc font-32">Qucokeとは</h2>
		<div class="top-content">
			2chの特価品スレは、10年以上の歴史をもち、数百万の書き込みを超える巨大な情報物となりました。<br>
			特価品スレの内容は素晴らしいです。<br>
			人生・生活において必ず役に立つことが多々書き込まれています。<br>
			しかし、膨大なリソースから価値のある情報を探し出しことはとても偏屈です。<br>
			そこでQucokeが生まれました。<br>
			Qucokeは特価品スレから価値のある情報のみをユーザー自身がまとめあげることによって、<br>
			より、洗礼・整理されたものへと進化した情報を提供します。<br>
			さあ、今日からQucokeがあなたと、あなた以外の全員のための手記となることでしょう。<br>
		</div>

		<h2 class="h2 color-adoc font-32">なぜQucokeが必要なのか</h2>
		<div class="top-content">
			彼らは頭がよく、いつもためになる会話します。<br>
			しかし彼らに重大な欠点があります。<br>
			それは、同じ会話を繰り返してしまうことです。<br>
			話したことを忘れてしまうのです。<br>
			しかしこれは仕方がありません。<br>
			どんなに優れた能力をもった人間でも、2chという旧世代の道具では能力を発揮することはできません。<br>
			しかしこれからは問題ありません。<br>
			Ｑucokeという最先端の技術、発想を元に築きあげられたツールを活用することにより、常に整理されたデータを引き出すことができます。<br>
		</div>

		<h2 class="h2 color-adoc font-32">転載にはならないのか</h2>
		<div class="top-content">
			結論を言うと、なりません。<br>
			世の中のほとんどのまとめサイトは、金儲けのためにPV数、アクセス数しか気にしていません。<br>
			言わば、自国の情報を他国に売り商売をするようなものです。<br>
			しかしQucokeの思想は異なります。<br>
			Qucokeは外部向け型ではなく、内面的なまとめ、<br>
			いわば自国の情報インフラを強化し、自国のためにあるようなものです。<br>
			だれかのためのものではなく、私たちのためのものにある存在です。<br>
			これは「外部へ流出させる転載」ではなく、「内部的な強化のための研究・レポート」のようなものです。
		</div>
	</div>
	

</div>