<div class="top-page">
	<div class="top-panel">
		<img class="logo-img" src="/resource/logo.png" />
		<h1 class="logo-title-text">Qucoke.comは、特価品スレの情報を共有するサービスです。</h1>
		<div class="links-container">
			<a href="/topics/" class="prefix-icon-container">
				<i class="material-icons">assignment</i>
				<div>記事一覧</div>
			</a>

			<!--<a class="prefix-icon-container" href="javascript:void(0)">
				<i class="material-icons">cloud</i>
				<div>特価DB<span style="font-size:12px;font-weight:normal;">(近日リリース)</span></div>
			</a>-->
		</div>
	</div>

	<div class="content">
		<h2 class="h2 color-adoc font-32">Qucokeとは</h2>
		<div class="top-content">
			2chの特価品スレは、10年以上の歴史をもち、数百万の書き込みを超える巨大な情報物となりました。<br>
			特価品スレの内容は素晴らしいです。<br>
			人生・生活において必ず役に立つことが多々書き込まれています。<br>
			しかし、膨大なリソースから価値のある情報を探し出しことはとても偏屈です。<br>
			そこでQucokeが生まれました。<br>
			Qucokeは特価品スレから価値のある情報のみをユーザー自身がまとめあげることによって、<br>
			より、洗礼・整理されたものへと進化した情報を提供します。<br>
			さあ、今日からQucokeがあなたと、あなた以外の全員のための手記となることでしょう。<br>
		</div>
	</div>
	

</div>