<meta name="topic-id" data-value="{{topicId}}">
<div class="topic-edit-page">
	<div class="input-title-container">
		<input type="text" class="input-title myinput"  maxlength="40" placeholder="タイトル"/>
	</div>
	<div class="input-tags-container">
		<div class="tags-highlight"></div>
		<input type="text" class="input-tags myinput" placeholder="タグ スペース区切りで4つまで" />
		
	</div>
	<div class="edit-preview-container">
		<div class="edit-panel">
			<h2 class="h2 my-header">Editor</h2>
			<div class="edit-container child-container" id="edit-container"></div>
		</div>
		<div class="preview-panel">
			<h2 class="h2 my-header">Preview</h2>
			<div class="preview-container child-container">
				<div id="preview-content" class="markdown-container"></div>
			</div>
		</div>
	</div>
	<div class="buttons-row">
		<button class="button submit-button">
			<i class="material-icons">file_upload</i>
			{{#if topicId}} 上書き投稿する {{else}} 投稿する {{/if}}
		</button>
	</div>
</div>

<!--<script src="/vs/loader.js"></script>
<script>
	require.config({ paths: { 'vs': '/vs' }});
</script>-->
<script src="/ace-builds/ace.js"></script>
<script src="/topic-edit-app.js"></script>