<div class="content topics-page">
	<h1 class="h1 color-adoc font-32">記事一覧</h1>
	<div class="single-page-container">
		<ul class="topics-ul"></ul>
		<button class="button next-get-button">続きを取得</button>
	</div>
</div>

<script src="/topics-app.js"></script>